html{
    height: 99%;
    background-color: #0b9a62;
}
body{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    height: 95%;
    width: 50%;
}
table td{
    text-align: center;
}

/*clases*/
.bordes{
    border: 1px solid black;
}